---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const programming = ['C++', 'C', 'Python', 'PyTorch', 'Java', 'Golang', 'MySQL']
const web = ['Vue.js', 'TypeScript', 'JavaScript', 'CSS', 'HTML']
const tools = ['VSCode', 'Vim', 'Linux', 'Shell', 'Git', 'Docker']
const design = ['Photoshop', 'Premiere Pro', 'Final Cut Pro', 'Lightroom', 'Davinci Resolve']
const other = ['Markdown', 'Notion', 'LaTeX', 'ChatGPT']

const MAX_POSTS = 6
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China / Xiamen'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='GitHub' as='a' href='https://github.com/Wu-yikun' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Developer / Photographer</p>
        <p class='text-muted-foreground'>好多事情想不明白，只能先活着，看以后能不能想明白了。</p>
        <p class='text-muted-foreground'>人人都得活着，所以人人都得藏着。</p>
        <p class='text-muted-foreground'>
          我偶尔就在这样沉默的冰河之下，悄悄探出头来，感受下有温度的太阳。
        </p>
        <p class='text-muted-foreground'>然后再沉下去，告诉别人海面之上的故事。</p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      <Section title='Education'>
        <Card
          as='a'
          heading='厦门大学'
          subheading='软件工程'
          date='September 2023 - Present'
          href='https://www.xmu.edu.cn/'
        >
          <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/xmu.svg'
          />
        </Card>
        <Card
          as='a'
          heading='福建师范大学'
          subheading='软件工程'
          date='September 2019 - June 2023'
          href='https://www.fjnu.edu.cn/'
        >
          <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/fjnu.svg'
          />
        </Card>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Programming' skills={programming} />
        <SkillLayout title='Web' skills={web} />
        <SkillLayout title='Tools' skills={tools} />
        <SkillLayout title='Design' skills={design} />
        <SkillLayout title='Other' skills={other} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
